.row-odd {
    background-color: rgb(230, 230, 230);
}

.col-1 { /* Dataset */
}

.col-2 { /* Gene */
}

.col-3 { /* Function(s) */
    text-align: center;
}

.col-score { /* Score */
    text-align: center;
}

div.section {
    margin-top: 2em;
}
